{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="container">
            <section class="d-flex">
                <nav class="dashboard__nav col-12 col-lg-3  ">
                    <div class="user__image_wrapper mx-auto">
                        {% if current_user.profile.photo %}
                            {% set p="uploads/profiles/"+current_user.profile.photo %}
                        {% elif current_user.profile.gender=="زن" %}
                            {% set p="images/woman.png" %}
                        {% else %}
                            {% set p="images/man.png" %}
                        {% endif %}

                        <img class="user__image w-100" src="{{ url_for('static', filename=p) }} ">


                    </div>


                    <ul class="dashboard__list t-center">
                        <li class="dashboard__item"><a href="{{ url_for('dashboards.profile_update') }}">پروفایل من</a></li>
                        <li class="dashboard__item"><a href="{{ url_for('dashboards.experiences') }}">سابقه من</a></li>
                        <li class="dashboard__item"><a href="{{ url_for('dashboards.educations') }}">تحصیلات من</a></li>
                        <li class="dashboard__item"><a href="{{ url_for('dashboards.skills') }}">مهارت های من</a></li>
                        <li class="dashboard__item"><a href="{{ url_for('dashboards.social_update') }}">نحوه ارتباط</a>
                        </li>
                        <li class="dashboard__item"><a href="{{ url_for('dashboards.resume') }}">ساخت رزومه</a></li>
                        <form action="{{ url_for('accounts.logout') }}" method="post">
                            <input class="dashboard__item text-danger bg-transparent border-0" type="submit"
                                   value="خروج">
                        </form>

                    </ul>
                </nav>

                <article class="article col-12 col-lg-7">
                    {% include page %}
                </article>
            </section>
        </div>
    </main>
    <script src="{{ url_for('static',filename='js/Jquery.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/active.js') }}"></script>
    <script src="{{ url_for('static', filename='js/persianDatepicker.min.js') }}"></script>

    <script>
        $("#date-picker, .date-picker").persianDatepicker({
            formatDate: "YYYY-0M-0D",
        });
    </script>
{% endblock %}

