<div class="dashboard__form">
    <h2 class="form__title">تجربه شغلی من</h2>
    <form method="post" action="{{ url_for('dashboards.experiences',form_id=1) }}">

        <div class="form__row d-flex">
            {{ work_data_form.hidden_tag() }}
            <div class="form__input col-md-2">
                <label for="">زمان سابقه:</label>
            </div>

            <div class="form__input col-md-2">

                {{ work_data_form.experience }}
            </div>

            <div class="form__input col-md-2">
                <label for="">تعداد پروژه:</label>
            </div>

            <div class="form__input col-md-2">

                {{ work_data_form.number_of_projects }}
            </div>

            <div class="form__input col-md-2">
                <label for="">تعداد مشتری:</label>
            </div>

            <div class="form__input col-md-2">

                {{ work_data_form.number_of_customer }}
            </div>
            <div class="form__input col-3 col-md-2 mx-auto mt-4">
                {{ work_data_form.submit }}
            </div>

        </div>
        <hr>


    </form>
    <div class="content-box  scroll">
        <table class="content-box__table">
            <tr>
                <th class="col-6 col-sm-2">عنوان شغلی</th>
                <th class="col-6 col-sm-2">نام شرکت</th>
                <th class="col-4 col-sm-6">ویرایش</th>

            </tr>
            {% for experience in experiences %}
                <tr id="experience-{{ experience.id }}">
                    <td class="col-6 col-sm-3">{{ experience.title }}</td>
                    <td class="col-6 col-sm-3"> {{ experience.company }}</td>
                    <td class="col-4  col-sm-6">
                        <div class="form__input d-flex justify-content-center">
                            <div class="add-job-button bg-danger mx-2"
                                 onclick="delete_exp({{ experience.id }})"><span
                                    class="fa fa-trash"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}

        </table>


    </div>
    <div class="form__row d-flex align-center">
        <div class="form__input col-2">
            <div class="add-job-button" onclick="add_job(this)"><span class="fa fa-plus"></span></div>
        </div>

    </div>

    <form method="post" action="{{ url_for('dashboards.experiences',form_id=2) }}" class="form2">
        {{ experience_form.hidden_tag() }}
        <div class="add-job">
            <div class="form__row d-flex">
                <div class="form__input col-md-2">
                    <label for="">عنوان شغلی:</label>
                </div>
                <div class="form__input col-md-4">

                    {{ experience_form.title }}

                </div>

                <div class="form__input col-md-2">
                    <label for="">نام شرکت:</label>
                </div>

                <div class="form__input col-md-4">

                    {{ experience_form.company }}
                </div>


            </div>

            <div class="form__row d-flex">
                <div class="form__input col-md-2">
                    <label for="">توضیحات :</label>
                </div>
                <div class="form__input col-md-10">

                    {{ experience_form.description(placeholder= "تجربه کار، نوع فعالیت، علت خروج و ...") }}
                </div>
            </div>
            <div class="form__row d-flex">
                <div class="form__input col-md-3">
                    <label for="">مدت فعالیت(سال):</label>
                </div>
                <div class="form__input col-md-2">

                    {{ experience_form.duration }}
                </div>
            </div>
            <div class="form__row">

                <div class="form__input col-md-3 mx-auto">
                    {{ experience_form.submit }}
                </div>
            </div>


        </div>


    </form>

    <script src="{{ url_for('static',filename='js/Jquery.min.js') }}"></script>

</div>