<div class="dashboard__form">
    <h2 class="form__title">پروفایل من</h2>

    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form__row d-flex">
            <div class="form__input col-3 col-sm-1 col-lg-1">
                <label class="t-center" for="">نام :</label>
            </div>

            <div class="form__input col-9 col-sm-4 col-lg-4">


                {{ form.first_name }}
            </div>

            <div class="form__input col-5 col-sm-2 col-lg-2">
                <label for="">نام خانوادگی:</label>
            </div>

            <div class="form__input col-7 col-sm-4 col-lg-5">

                {{ form.last_name }}
            </div>

        </div>

        <div class="form__row d-flex">


            <div class="form__input col-sm-4 col-lg-1">
                <label for="">جنسیت:</label>
            </div>
            <div class="form__input col-sm-4 col-lg-4">
                {{ form.gender }}
            </div>


            <div class="form__input col-sm-4 col-lg-1">
                <label for="">شغل:</label>
            </div>

            <div class="form__input col-sm-4 col-lg-5">
                {{ form.job }}
            </div>


        </div>

        <div class="form__row d-flex">
            <div class="form__input col-12 col-sm-2">
                <label for="">بیوگرافی:</label>
            </div>
            <div class="form__input col-12 col-sm-10">
                {{ form.bio(placeholder= "توضیحاتی در رابطه ما علاقه مندی ها، شرایط همکاری، اهداف و ...") }}
            </div>
        </div>
        <div class="form__row d-flex">
            <div class="form__input col-lg-2">
                <label for=""> نام کاربری :</label>
            </div>

            <div class="form__input col-lg-4">
                {{ form.username }}
            </div>

            <div class="form__input col-lg-2">
                <label for=""> تاریخ تولد :</label>
            </div>

            <div class="form__input col-lg-4">
                {{ form.birthday(autocomplete= "off", class= "date-picker", id= "date-picker") }}
            </div>

            {% for error in form.errors.username %}
                <small>   {{ error }}</small>
            {% endfor %}
        </div>

        <div class="form__row d-flex">
             <div class="form__input col-lg-3">
                <label for=""> تصویر پروفایل :</label>
            </div>
             <div class="form__input col-4 col-lg-9">
                {{ form.photo }}
            </div>
            {% for error in form.errors.photo %}
                <small>   {{ error }}</small>
            {% endfor %}
        </div>
        <div class="form__row">

            <div class="form__input col-4 col-md-3 mx-auto">
                {{ form.submit }}
            </div>
        </div>
    </form>


</div>