{% extends "base.html" %}

{% block content %}

    <section>

        <div class="auth__box trnsform">
            <div class="auth__box w-100 mt-0 trnsformback">

                <h1 class="login__title">بازیابی رمز عبور</h1>

                <p class="c-blue">لطفا ایمیل خود را در کادر زیر وارد کنید. اگر این ایمیل در پلتفرم ما ثبت شده بود، یک
                    لینک بازیابی برای شما ارسال می شود.</p>

                <form method="post">
                    {{ form.hidden_tag() }}


                    <div class="auth__row">
                        <div class="register__input w-100">
                            <i class="fa fa-envelope"></i>
                            {{ form.email(placeholder= "ایمیل که با آن ثبت نام کردید") }}
                        </div>
                        {% for error in  form.email.errors %}

                            <small>
                                {{ error }}
                            </small>
                            <br>
                        {% endfor %}
                    </div>

                    <div class="auth__row t-center">
                        {{ form.submit(class="submit  b-blue") }}
                    </div>


                </form>


            </div>
        </div>


    </section>


{% endblock %}


