{% extends 'base.html' %}

{% block content %}
    <section class="register">

        <div class="auth__box trnsform">
            <div class="auth__box w-100 mt-0 trnsformback">

                <h1 class="register__title">ثبت رمزعبور</h1>

                <form method="post">
                    {{ form.hidden_tag() }}


                    <div class="auth__row d-flex">
                        <div class="register__input">
                            <i class="fa fa-lock"></i>
                            {{ form.password(placeholder="رمز عبور") }}
                        </div>
                        <div class="register__input">
                            <i class="fa fa-lock"></i>
                            {{ form.confirm_password(placeholder="تکرار رمز عبور") }}
                        </div>

                        {% for error in  form.password.errors %}
                            <small>
                                {{ error }}
                            </small>
                            <br>
                        {% endfor %}

                        {% for error in  form.confirm_password.errors %}
                            <small>
                                {{ error }}
                            </small>
                            <br>
                        {% endfor %}

                    </div>

                    <div class="auth__row t-center">
                        {{ form.submit(class="submit") }}
                    </div>
                </form>


            </div>
        </div>


    </section>
{% endblock content %}