{% extends "base.html" %}

{% block content %}

    <section>

        <div class="auth__box trnsform">
            <div class="auth__box w-100 mt-0 trnsformback">

                <h1 class="login__title">تایید ایمیل</h1>

               <strong class=" c-blue">
                   ثبت نام شما با موفقیت انجام شد. لطفا قبل از ورود به سایت ایمیل خود را تایید کنید.
               </strong>
                <br>

                <strong>
                   برای این کار روی لینکی که به ایمیل شما ارسال شده است کلیک کنید.
               </strong>

            </div>
        </div>


    </section>


{% endblock %}


